# .gitignore
/images/
/pages/
index.html
main.html
404.html
style.css
script.js
keydown.js

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
