*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
}

@media screen and (max-width: 768px) {
    *, html {
        zoom: 0.96;
    }
}

@media screen and (min-width: 320px) and (max-width: 435px) {
     *, html {
        zoom: 0.93;
     }
}

::selection {
    background-color: rgb(80,80,80);
    color: white;
}

br, input, img, button {
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

body.main div.project-side a:hover {
    text-decoration: underline;
}

a, button {
    cursor: pointer;
}

@font-face {
    font-family: diff-mono;
    src: url('fonts/computo-monospace.otf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Hitam;
    src: url('fonts/Poppins-ExtraBold.ttf');
}


body.index {
    background-color: black;
    color: white;
    text-align: center;
}

body.index form.form {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.logo {
    color: white;
    font-family: 'diff-mono';
    font-size: large;
    text-transform: lowercase;
    letter-spacing: 5px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    animation: glow 2s ease-in-out infinite;
}

h1.logo:hover {
    text-decoration: none;
}

@keyframes glow {
    0% {
        text-shadow: 0px 0px 2px gainsboro;
    }

    50% {
        text-shadow: 0px 0px 20px gainsboro;
    }

    100% {
        text-shadow: 0px 0px 2px gainsboro;
    }
}

body.index input.safety {
    background-color: rgb(20,20,20);
    color: gray;
    padding: 7px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid grey;
    text-decoration: none;
    margin: 2px;
    user-select: none;
    cursor: not-allowed;
    font-family: monospace;
}

body.index input.safety:focus {
    outline: none;
}

body.index input[type=submit].access {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
    margin: 2px;
    user-select: none;
    cursor: not-allowed;
    font-family: monospace;
}

body.index input[type=submit].access:hover {
    background-color: rgb(200,200,200);
}

body.index input[type=submit].access:active {
    background-color: rgb(20,20,20);
    color: grey;
}

@media screen and (min-width: 320px) and (max-width: 435px) {    
    body.index input[type=submit].access {
        align-items: center;
        margin-top: 5px;
        border-radius: 10px;
        width: 65%;
    }
}

body.index p.no-js {
    margin-top: 20px;
    color: gray;
    font-size: smaller;
    font-family: Poppins-Regular;
}

body.notfound {
    background-color: black;
    color: white;
    text-align: center;
}

body.notfound div.getback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.notfound p.tip {
    font-family: Poppins-Regular;
    font-size: smaller;
    color: gray;
}

body.main {
    color: black;
    font-family: Poppins-Regular;
}

body.main nav.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: black;
    border-bottom: 1px solid rgb(20,20,20);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

body.main span.version {
    color: grey;
    padding: 5px;
}

body.main div.banner {
    color: white;
    position: relative;
    z-index: 1;
    background-image: url('images/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

body.main div.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

body.main div.content {
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 50px;
}

body.main img.pfp {
    width: 240px;
    margin-top: 2%;
    height: auto;
}

body.main img.pfp:hover {
    filter: brightness(86%);
}

@media screen and (max-width: 1080px) {
    body.main div.content {
        flex-wrap: wrap;
        top: 40vh;
        gap: 20px;
        width: 80%;
    }
    body.main img.pfp {
        width: 180px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    body.main div.content {
        flex-wrap: wrap;
        top: 45vh;
        gap: 20px;
    }
}

body.main h1.pretitle {
    font-size: larger;
}


body.main h1 span.title {
    font-size: 60px;
    font-weight: bolder;
    font-family: Poppins-Hitam;
}

body.main p.description {
    line-height: 1.5;
    z-index: 5;
    user-select: text;
    margin-bottom: 5px;
}

body.main button.pf-btn {
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    margin-right: 2px;
    margin-top: 10px;
    border: 1px solid gray;
    font-family: Poppins-Hitam;

}

body.main button.cv-btn {
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 2px;
    margin-top: 10px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    font-family: Poppins-Hitam;
}

body.main button.pf-btn:hover {
    background-color: lightgray;
}

body.main button.cv-btn:hover {
    background-color: darkgrey;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    body.main p.description {
        width: 80vw;
    }
}

@media screen and (max-width: 435px) {
    body.main button.pf-btn {
        width: 100%;        
    }

    body.main button.cv-btn {
        width: 100%;        
    }
}

body.main div.skill {
    position: relative;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}

body.main div.progress {
    background-color: white;
    width: auto;
    height: 100%;
    box-shadow: 0px 0px 20px 1px grey;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 920px) {
    body.main div.skill {
        flex-wrap: wrap;
        flex-direction: column;
        top: 160px;
    }

    body.main div.progress {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

body.main div.progress:hover {
    box-shadow: 0px 0px 5px 1px grey;
}

body.main div.progress:active {
    box-shadow: 0px 0px 2px 1px grey;
}

body.main img.icon {
    padding: 10px;
    margin: 0px 60px 0px 60px;
    width: 150px;
    height: 100%;
}

body.main div.project-side {
    margin-bottom: 50px;
}

body.main h2.subtitle {
    text-align: center;
    font-family: Poppins-Hitam;
}

body.main div.inbox {
    justify-content: center;
    margin: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 15px;
}

@media screen and (max-width: 920px) {
    body.main div.inbox {
        margin-left: 11vw;
        margin-right: 11vw;
    }
}

body.main div.sub-content {
    display: flex;
    justify-content: space-between;
}

body.main div.box-text {
    margin-bottom: 12px;
}

body.main span.project1-label {
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    background-color: dodgerblue;
    
    padding: 5px;   
}

body.main span.project2-label {
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    background-color: tomato;
    padding: 5px;   
}

body.main img.preview {
    width: 80px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
}

body.main span.date {
    opacity: 0.8;
}

body.main form#emailForm {
    display: block;
    text-align: center;
}

body.main input.item {
    border: 1px solid grey;
    width: 420px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-family: Poppins-Regular;
}

body.main textarea.mess {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
    width: 420px;
    resize: none;
    border-radius: 5px;
    font-family: Poppins-Regular;
}

body.main button[type=submit].submission {
    padding: 10px 190px 10px 190px;
    margin-bottom: 10px;
    border: 1px solid rgb(20,20,20);
    border-radius: 20px;
    background-color: rgb(20,20,20);
    color: white;
    font-family: Poppins-Regular;
    font-weight: bold;
    letter-spacing: 1px;
}

body.main button[type=submit].submission:hover {
    background-color: darkslategray;
}

body.main span#warns {
    color: rgb(155,0,0);
    display: none;
}

body.main span.note {
    font-size: smaller;
}

body.main div.catch {
    display: none;
}

body.main div.catch p {
    font-size: small;
}

body.main div.linked {
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

body.main div.linked:hover {
    cursor: pointer;
}

body.main span.link-github:hover, body.main span.link-edin:hover, body.main span.mailed:hover {
    text-decoration: underline;
}

body.main span.link-github:active, body.main span.link-edin:active, body.main span.mailed:active {
    opacity: 0.8;
}

body.main div.linked img {
    vertical-align: middle;
    margin: -2px 0px 0px 10px;
}

body.main h6.tribute {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
