*, html {
    margin: 0;
    padding: 0;
    transition: 0.2s;
    zoom: 1;
    box-sizing: border-box;
}

::selection {
    background-color: rgb(80,80,80);
    color: white;
}

br, input, img, button {
    user-select: none;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

a, button {
    cursor: pointer;
    user-select: none;
}

@font-face {
    font-family: computo;
    src: url('assets/mono.otf');
}

body.index {
    background-color: black;
    color: white;
    text-align: center;
}

body.index form.form {
    user-select: none;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.logo {
    color: white;
    font-family: 'computo';
    font-size: x-large;
    text-transform: lowercase;
    letter-spacing: 3px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    animation: glow 2s ease-in-out infinite;
    width: 100%;
}

body.main h1.logo {
    font-size: large;
}

h1.logo:hover {
    text-decoration: none;
}

@keyframes glow {
    0% {
        text-shadow: 0px 0px 2px gainsboro;
    }

    50% {
        text-shadow: 0px 0px 20px gainsboro;
    }

    100% {
        text-shadow: 0px 0px 2px gainsboro;
    }
}

body.index input.safety {
    background-color: rgb(20,20,20);
    color: gray;
    border-radius: 20px;
    border: 1px solid grey;
    width: 200px;
    text-decoration: none;
    user-select: none;
    padding: 7px;
    cursor: not-allowed;
    font-family: 'poppins';
}

body.index input[type=submit].access {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    padding: 7px 14px 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    cursor: not-allowed;
    font-family: 'poppins';
}

body.index input[type=submit].access:hover {
    background-color: rgb(200,200,200);
}

body.index input[type=submit].access:active {
    background-color: rgb(20,20,20);
    color: grey;
}

body.index noscript {
    margin-top: 20px;
    color: gray;
    font-size: smaller;
    position: relative;
    font-family: 'poppins';
    top: 550px;
}

body.notfound {
    background-color: black;
    color: white;
    font-family: 'poppins';
    text-align: center;
}

body.notfound div.getback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.notfound p.tip {
    font-size: smaller;
    color: gray;
}

body.main {
    color: black;
    font-family: 'poppins';
}

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: black;
    border-bottom: 1px solid rgb(20,20,20);
    text-align: center;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(60, 60, 60);
    justify-content: space-between;
}

span.version {
    color: grey;
    line-height: 1.8;
    padding: 5px;
}

body.main div.banner {
    color: white;
    position: relative;
    z-index: 1;
    background-image: url('assets/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

body.main div.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

body.main div.content {
    position: absolute;
    z-index: 3;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
}

body.main p.pre-title {
    font-size: large;
    font-weight: 700;
}

body.main h1.title {
    font-weight: 1000;
    font-size: 60px;
}

body.main a.smk-href {
    color: white;
    user-select: text;
}

body.main a.smk-href:active {
    filter: brightness(0.8);
}

body.main a.smk-href:hover {
    text-decoration: underline;
}

body.main p.description {
    font-size: medium;
}

body.main button.pf-btn {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: white;
    font-family: 'poppins';
    font-weight: bolder;
    font-size: medium;
}

body.main button.cv-btn {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid grey;
    background-color: rgb(128,128,128,0.7);
    color: white;
    font-family: 'poppins';
    font-weight: bolder;
    font-size: medium;
}

body.main button.pf-btn:hover {
    background-color: lightgray;
}

body.main button.pf-btn:active {
    opacity: 0.8;
}

body.main button.cv-btn:hover {
    background-color: darkgrey;
}

body.main button.cv-btn:active {
    opacity: 0.8;
}

body.main img.linked {
    margin-top: 20px;
    width: 40px;
    height: auto;
}

body.main img.linked:hover {
    filter: brightness(0.8);
}

body.main img.linked:active {
    opacity: 0.8;
}

body.main div.skill {
    position: relative;
    z-index: 4;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;

}

body.main a.progress {
    background-color: white;
    width: 280px;
    height: auto;
    box-shadow: 0px 0px 20px 1px rgb(180,180,180);
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin: 20px;
}

body.main a.progress:hover {
    box-shadow: 0px 0px 5px 1px grey;
}

body.main a.progress:active {
    filter: brightness(0.9);
}

body.main img.icon-skill {
    padding: 16px;
    width: 60%;
    height: 100%;
}

body.main div.gallery, body.main div.project, body.main div.bulletin, body.main div.contact {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 150px;
}

body.main section.subtitle {
    display: flex;
    justify-content: space-between;
}

body.main section.subtitle h2 {
    font-size: 30px;
    margin: 10px;
}

body.main section.subtitle h2 span {
    vertical-align: -2px;
}

body.main img.sub-icon {
    width: 36px;
    height: auto;
    vertical-align: middle;
}

body.main img.direct-arrow {
    width: 42px;
    padding: 5px;
    border-radius: 50%;
    height: auto;
    vertical-align: middle;
}

body.main img.direct-arrow:hover {
    background-color: rgba(0,0,0, 0.1);
}

body.main img.direct-arrow:active {
    background-color: rgba(0,0,0, 0.2);
}

body.main div.content-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-gap: 10px;
    margin: 10px;
}

body.main img.img-gallery {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

body.main img.img-gallery:hover {
    filter: brightness(0.8);
}

body.main div.content-project {
    margin: 10px;
}

body.main div.project-mainbox {
    background-image: url('assets/banner.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
}

body.main div.project-mainbox:active, body.main div.project-subbox:active {
    filter: brightness(0.8);
}

body.main div.project-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
}

body.main div.subcontent-project {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

body.main div.project-subbox {
    background-image: url('assets/banner.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
}

body.main button.btn-lm {
    font-family: 'poppins';
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

body.main button.btn-lm:hover {
    filter: brightness(0.8);
}

body.main button.btn-lm:active {
    opacity: 0.8;
}

body.main div.bulletin-content {
    margin: 10px;
}

body.main div.announcement {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid rgb(60, 60, 60);
}

body.main form#emailForm {
    display: block;
    text-align: center;
}

body.main input.item {
    border: 1px solid grey;
    width: 440px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-family: 'poppins';
}

body.main textarea.mess {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
    width: 440px;
    resize: none;
    border-radius: 5px;
    font-family: 'poppins';
}

body.main button[type=submit].submission {
    padding: 10px 192px 10px 192px;
    width: 440px;
    margin-bottom: 10px;
    border: 1px solid rgb(20,20,20);
    border-radius: 5px;
    background-color: rgb(20,20,20);
    color: white;
    font-family: 'poppins';
    font-weight: bold;
    letter-spacing: 1px;
}

body.main button[type=submit].submission:hover {
    background-color: darkslategray;
}

body.main span#warns {
    color: rgb(255, 0, 0);
    display: none;
    margin-bottom: 15px;
}

body.main div.catch {
    display: none;
    text-align: center;
    background-color: rgb(140,140,140, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(180, 180, 180);
    border-left: 10px solid rgb(60, 60, 60);
    width: 250px;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}

body.main div.catch p {
    font-size: small;
    opacity: 0.8;
}

body.main div.linked:hover {
    cursor: pointer;
}

body.main span.link-github:hover, body.main span.link-edin:hover, body.main span.mailed:hover {
    text-decoration: underline;
}

body.main span.link-github:active, body.main span.link-edin:active, body.main span.mailed:active {
    opacity: 0.8;
}

body.main div.linked img {
    vertical-align: middle;
    margin: -2px 0px 0px 10px;
}

h6.tribute {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid rgb(60, 60, 60);
}